body {
    font-family: Arial, sans-serif;
    background: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    background: #ffffff;
    color: #3ba57b;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 1px 15px rgb(97, 97, 97);
}
.login-container .logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #3ba57b;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 32px 24px;
    border-radius: 8px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.236);
    width: 320px;
}
.login-container h2 {
    margin-bottom: 24px;
    text-align: center;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
#criar{
    background: #3ca57d;
}
.login-container button:hover {
    background: #388e3c;
}
span{
    font-size: 12px;
    color: rgb(16, 16, 16);
    text-decoration: underline;
}