* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9fafa;
  color: #333;
  line-height: 1.6;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}
ul {
  list-style-type: none;
  display: flex;
}
.logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: #20a1ff;
}

.menu a {
  margin: 0 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.content {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #666;
  text-indent: 0.2em;
}
section {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.imagem {
  height: 298.4px;
}

.card h3 {
  margin: 1rem;
  font-size: 1.1rem;
  color: #111;
}

.card p {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #666;
}
